<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Signup page</title>
</head>
<body>
    <form action="registration",method='post'>
        <label for="Name">Name</label>
        <input type="text" class="form-control" placeholder="name" name="name" id="">
        <label for="Email">Email</label>
        <input type="email" class="form-control"  placeholder="Email" name="email" id="">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control"  placeholder="Phone Number" name="phone" id="">
        <label for="Country">Country Name</label>
        <input type="text" class="form-control"  placeholder="Country name" name="country" id="">
        <label for="State">State/Region </label>
        <input type="text" class="form-control"  placeholder="State/Region" name="region" id="">
        <label for="City">City Name</label>
        <input type="text" class="form-control"   placeholder="City name"name="city" id="">
        <label for="Address">Adress </label>
        <input type="text" class="form-control"  placeholder="Address" name="address" id="">
        <label for="Zip Code">Country Name</label>
        <input type="number" class="form-control"  placeholder="Zip code" name="zip" id="">
        <label for="file">Upload Image</label>
        <input type="file" class="form-control" name="upload" id="">
        <br>

        <input type="submit" value="Register"/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
</html>